<div id = "factory" class = "WorkDateBlocks">
    <div>
      <h2 style="font-weight: normal;">
        Предприятие
      </h2>
      <h3 style="font-weight: normal;">
        Реквизиты Предприятия
      </h3>
    <hr>
    <div id="TextFields"> 
      
      
      
        <div>
      <div class="CompBlock">
        Наименование
        <input type="text" value = "" id = "FactoryNameTextField" class="InputInformationField" name="FirstNameTextField">
      </div>    
      </div>



    </div>
    
    

  
     
      <h3 style="font-weight: normal;">
        Адрес:
      </h3>
      <hr>
      <div>
      <div>  
        <div class="CompBlock">
          Область
          <input type="text" value = "" id = "RegionNameTextField" class="InputInformationField" name="FirstNameTextField">
        </div>
        <div class="CompBlock">
          Район
          <input type="text" id = "DistrictNameTextField" class="InputInformationField" name="SecondNameTextField">
        </div> 
        <div class="CompBlock">
            Населённый пункт
            <input type="text" id = "LocalityNameTextField" class="InputInformationField" name="TreeNameTextField">
        </div>
        </div>
        <div>
        <div class="CompBlock">
            Улица
            <input type="text" id = "StreetTextField" class="InputInformationField" name="TreeNameTextField">
        </div>
        <div class="CompBlock">
            Дом
            <input readonly="readonly" type="text" id = "buildingNumberTextField" class="InputInformationField" name="TreeNameTextField">
        </div>
        <div class="CompBlock">
            Почтовый индекс
            <input disabled="disabled" type="text" id = "MailPostNumberTextField" class="InputInformationField" name="TreeNameTextField">
        </div>
        </div>
          
    <div>
      <input type="button" value="Отправить" class = "AgreeFormButton">
    </div>
  </div>
    </div>
  </div>

  
  