<div id = "leader" class = "WorkDateBlocks" >
    <div>
      <h2 style="font-weight: normal;">
        Руководители
      </h2>
      <h3 style="font-weight: normal;">
        Руководитель практики
      </h3>
    <hr>
    <div id="TextFields"> 
      
      
      
        <div>
      <div class="CompBlock">
        Имя
        <input type="text" value = "" id = "WorkLeaderFirstNameTextField" class="InputInformationField" name="FirstNameTextField">
      </div>
      <div class="CompBlock">
        Фамилия
        <input type="text" id = "WorkLeaderSecondNameTextField" class="InputInformationField" name="SecondNameTextField">
      </div> 
        <div class="CompBlock">
          Отчество (при наличии)
          <input type="text" id = "WorkLeaderTreeNameTextField" class="InputInformationField" name="TreeNameTextField">
        </div>
    
    
  
        
      </div>
    </div>
    
    

  
     
      <h3 style="font-weight: normal;">
        Заведующий кафеды
      </h3>
      <hr>
      <div>
        <div class="CompBlock">
          Имя
          <input type="text" value = "" id = "CafedralLeaderFirstNameTextField" class="InputInformationField" name="FirstNameTextField">
        </div>
        <div class="CompBlock">
          Фамилия
          <input type="text" id = "CafedralLeaderSecondNameTextField" class="InputInformationField" name="SecondNameTextField">
        </div> 
        <div class="CompBlock">
            Отчество (при наличии)
            <input type="text" id = "CafedralLeaderTreeNameTextField" class="InputInformationField" name="TreeNameTextField">
        </div>
          
    <div>
      <input type="button" value="Отправить" class = "AgreeFormButton">
    </div>
  </div>
    </div>
  </div>

  
  