<div id="statmensBoard">
    <h1 style="font-weight: normal;">
        Мои заявления
        <hr>
    </h1>
    <div id="statmens">
    <!--<table class="StytemenTable">
        <tbody id="Statetable">
        <tr class = "table">
            <th>
                <h2 style="font-weight: normal;">
                    Создано
                </h2>
            </th>
            <th>
                <h2 style="font-weight: normal;">
                    Статус
                </h2>
            </th>
            <th>
                <h2 style="font-weight: normal;">
                    Вид практики
                </h2>
            </th>
            <th>
                <h2 style="font-weight: normal;">
                </h2>
            </th>        
        </tr>
    </tbody>
    </table> -->
    </div>
    
    
    <div>
    <hr>
    <input type="button" value="Создать заявление" id="CreateStatemen" class="CreateFormButton"> 
    </div>
</div>