<div id="StepsBar" style="height: 10%;">
    <hr>
    <div id="StepPannel">
       <form> 
    <!--Панель управления-->
    <div class="StepControlField Up"><input id="RectangleStep1" class="StepControlBotton" class="Up" type="button" value="Личные данные"></div>
    <div class="StepControlField Middle"><input id="RectangleStep2" class="StepControlBotton" class="Middle" type="button" value="Особые права"></div>
    <div class="StepControlField Middle"><input id="RectangleStep3" class="StepControlBotton" class="Middle" type="button" value="Профильная организация"></div>
    <div class="StepControlField Middle"><input id="RectangleStep4" class="StepControlBotton" class="Middle" type="button" value="Руководители практики"></div>
    <div class="StepControlField Down"><input id="RectangleStep5" class="StepControlBotton" class="Down" type="button" value="Печать документа"></div>
    </form>
    </div>