<div id = "WorkPannel" class = "WorkDateBlocks">
  <div>
    <h2 style="font-weight: normal;">
      Личные данные
    </h2>
    <h3 style="font-weight: normal;">
      Основные данные
    </h3>
  <hr>
  <div id="TextFields"> 
    
    
    
  <div>
    <div class="CompBlock">
      Имя
      <input type="text" value = "" id = "FirstNameTextField" class="InputInformationField" name="FirstNameTextField">
    </div>
    <div class="CompBlock">
      Фамилия
      <input type="text" id = "SecondNameTextField" class="InputInformationField" name="SecondNameTextField">
    </div> 
      <div class="CompBlock">
        Отчество (при наличии)
        <input type="text" id = "TreeNameTextField" class="InputInformationField" name="TreeNameTextField">
      </div>
  
  

      <div>
        <div class="CompBlock">
          Группа
          <input type="text" id="Group" class="InputInformationField" name="Group">
        </div>
        <div class="CompBlock" id="DerictionFields">
          Направление подготовки
          <input type="text" id="Direction" class="InputInformationField" name="Direction">
        </div>
      </div>
    </div>
    <div>



  <hr>
    <h3 style="font-weight: normal;">
      Практика
    </h3>
  <div>
    <div class="CompBlock"> 
      Вид практики
      <input type="text" id="PracticeSort" class="InputInformationField" name="PracticeSort">
    </div>
    <div class="CompBlock"> 
      Тип практики
      <input type="text" id="PracticeType" class="InputInformationField" name="PracticeType">
    </div>
    <div class="CompBlock"> 
      Сроки прохождения: 
      <input type="date" id="FirstTime" class="InputInformationField" name="FirstTime" value="Начало">
        Начало
      </input>
      <input type="date" id="LastTime" class="InputInformationField" name="LastTime" value="Конец">
        Конец
    </input>
    </div>
  </div> 
  </div>
  <div>
    <input type="button" value="Отправить" class = "AgreeFormButton">
  </div>
</div>
  </div>
</div>

