<!DOCTYPE HTML>
<html lang='ru'>
<%- include('./partial/header.ejs') %>


<body>
    
    Имя пользователя:
    <input type="text" id="UserName">

    Пароль:
    <input type="password" id="UserPassword">

    <input type="button" id="UserAgreeButton">

    <script src="../FetchScripts/autorization.js">
    </script>


</body>    